Eliezer Gamaliel Castillo Alcantar

Ejercicio 1:

Realiza una variable con tu matricula y realiza una secuencia de imprimir con tu nombre y tu matricula concatenados.

In [2]:
mat=1684521
nom="Eliezer Castillo "
print(nom + str(mat))

Eliezer Castillo 1684521

Ejercicio 2:

Pidiendo el input del usuario pide dos números y crea una pequeña calculadora con los operadores básicos de suma, resta, multiplicación, división, y exponente.

In [3]:
a=int(input("Introduzca un número: "))
b=int(input("Introduzca otro número: "))

print("Suma: ",a+b)
print("Resta: ",a-b)
print("Multiplicación: ",a*b)
print("División: ",a/b)
print("Exponente: ",a**b)

Introduzca un número: 5
Introduzca otro número: 7
Suma:  12
Resta:  -2
Multiplicación:  35
División:  0.7142857142857143
Exponente:  78125

Ejercicio 3:

Con loop while o for, realiza una lista de 10 numeros multiplos de 3, y después realiza una función de loop que sume todos los números dentro del arreglo.

In [4]:
lista=[i*3 for i in range(1,11)]
lista

[3, 6, 9, 12, 15, 18, 21, 24, 27, 30]

In [6]:
def sumar(lista):
    suma=0
    for i in range(len(lista)):
        suma=suma+lista[i]
    return suma
sumar(lista)

165

Ejercicio 4

Con una función de if else, revisar si un número es par o es impar.

Con una función de if else, revisar si un número es primo o no.

In [7]:
a = int(input("Introduzca un número: "))

if a%2==0:
    print("El número es par")
else:
    print("El número es impar")

Introduzca un número: 5
El número es impar

In [8]:
a = int(input("Introduzca un número: "))

raiz=int(a**.5)
primo=True
for i in range(2,raiz+1):
    if a%i==0:
        print("No es número primo")
        primo=False
        break
if primo==True:
    print("Es número primo")

Introduzca un número: 56
No es número primo

Ejercicio 5

Utilizando diferentes clases en python, crea una calculadora con los operadores básicos de suma, resta, multiplicación, división, y exponente.

In [9]:
def calcu1(a,b): #usando diccionario
    suma=a+b
    resta=a-b
    multi=a*b
    div=a/b
    e=a**b
    return {"Suma":suma,"Resta":resta,"Multiplicación":multi,"División":div,"Exponente":e}
calcu1(3,2)

{'Suma': 5, 'Resta': 1, 'Multiplicación': 6, 'División': 1.5, 'Exponente': 9}

In [10]:
import pandas as pd
def calcu2(a,b): #usando dataframe
    suma=a+b
    resta=a-b
    multi=a*b
    div=a/b
    e=a**b
    return pd.DataFrame([suma,resta,multi,div,e],index=["Suma","Resta","Multiplicación","División","Exponente"],columns=["Resultados"])
calcu2(3,1)

                Resultados
Suma                   4.0
Resta                  2.0
Multiplicación         3.0
División               3.0
Exponente              3.0

Ejercicios con estructuras básicas de python.

Tuplas

Crear una variable flotante, integer, boleana y compleja e imprimir el tipo de variable que es.

In [11]:
flot=4.789
inte=59
bol=True
comp=4+3j

In [12]:
print(type(flot))
print(type(inte))
print(type(bol))
print(type(comp))

<class 'float'>
<class 'int'>
<class 'bool'>
<class 'complex'>

Crear una tupla con valores enteros imprimir el primer y ultimo valor.

In [13]:
tupla=(2,56,7,65,98,23,12,87,9,78)

print("Primer valor: ",tupla[0])
print("Último valor: ",tupla[-1])

Primer valor:  2
Último valor:  78

Añadir 3 valores de string a la tupla.

In [14]:
tupla+("adios","Que estas haciendo?","Nada")

(2, 56, 7, 65, 98, 23, 12, 87, 9, 78, 'adios', 'Que estas haciendo?', 'Nada')

Verificar si una variable existe dentro de la tupla.

In [15]:
98 in tupla

True

In [16]:
"Ganar" in tupla

False

Listas

Crear una lista con 40 elementos aleatorios enteros.

In [17]:
import random as r
lista=[r.randint(1, 100) for i in range(40)]
lista

[30,
 89,
 75,
 68,
 30,
 58,
 56,
 43,
 47,
 5,
 95,
 73,
 60,
 10,
 92,
 29,
 48,
 77,
 38,
 14,
 5,
 69,
 73,
 94,
 34,
 52,
 27,
 23,
 75,
 7,
 22,
 84,
 11,
 58,
 27,
 87,
 91,
 61,
 39,
 92]

Con una funcion (def) crear dos listas nuevas a partir de la lista creada por numeros aleatorios, en la cual en una esten los elementos pares, y en la otra los elementos impares.

In [18]:
def par_imp(lista):
    par=[]
    impar=[]
    for i in range(len(lista)):
        if lista[i]%2==0:
            par.append(lista[i])
        else:
            impar.append(lista[i])
    return par,impar

In [19]:
par,impar=par_imp(lista)
print("Números pares: ",par)
print("Números impares: ",impar)

Números pares:  [30, 68, 30, 58, 56, 60, 10, 92, 48, 38, 14, 94, 34, 52, 22, 84, 58, 92]
Números impares:  [89, 75, 43, 47, 5, 95, 73, 29, 77, 5, 69, 73, 27, 23, 75, 7, 11, 27, 87, 91, 61, 39]

Crear dos variables con la longitud de ambas listas nuevas e imprimir las variables.

In [20]:
p=len(par)
i=len(impar)
print("Cantidad de números pares: ",p)
print("Cantidad de números impares: ",i)

Cantidad de números pares:  18
Cantidad de números impares:  22

Ordenar los elementos de la lista par de mayor a menor, y los de la lista impar de menor a mayor.

In [21]:
par.sort(reverse=True)
par

[94, 92, 92, 84, 68, 60, 58, 58, 56, 52, 48, 38, 34, 30, 30, 22, 14, 10]

In [22]:
impar.sort()
impar

[5,
 5,
 7,
 11,
 23,
 27,
 27,
 29,
 39,
 43,
 47,
 61,
 69,
 73,
 73,
 75,
 75,
 77,
 87,
 89,
 91,
 95]

Utilizar al menos cuatro de las funciones de listas en python en la lista original de 40 elementos.

In [24]:
lista.insert(0,101)
lista

[101,
 30,
 89,
 75,
 68,
 30,
 58,
 56,
 43,
 47,
 5,
 95,
 73,
 60,
 10,
 92,
 29,
 48,
 77,
 38,
 14,
 5,
 69,
 73,
 94,
 34,
 52,
 27,
 23,
 75,
 7,
 22,
 84,
 11,
 58,
 27,
 87,
 91,
 61,
 39,
 92]

In [25]:
lista2=[40,88,12]
lista.extend(lista2)
lista

[101,
 30,
 89,
 75,
 68,
 30,
 58,
 56,
 43,
 47,
 5,
 95,
 73,
 60,
 10,
 92,
 29,
 48,
 77,
 38,
 14,
 5,
 69,
 73,
 94,
 34,
 52,
 27,
 23,
 75,
 7,
 22,
 84,
 11,
 58,
 27,
 87,
 91,
 61,
 39,
 92,
 40,
 88,
 12]

In [26]:
lista.reverse()
lista

[12,
 88,
 40,
 92,
 39,
 61,
 91,
 87,
 27,
 58,
 11,
 84,
 22,
 7,
 75,
 23,
 27,
 52,
 34,
 94,
 73,
 69,
 5,
 14,
 38,
 77,
 48,
 29,
 92,
 10,
 60,
 73,
 95,
 5,
 47,
 43,
 56,
 58,
 30,
 68,
 75,
 89,
 30,
 101]

In [28]:
lista.index(12)

0

Diccionarios

Crear un diccionario de 6 personas que conozcas con su primer nombre y su edad.

In [30]:
dic={"Luis":20,"Johan":9,"Cynthia":15,"Anahi":23,"Angie":45,"Lety":21}
dic

{'Luis': 20, 'Johan': 9, 'Cynthia': 15, 'Anahi': 23, 'Angie': 45, 'Lety': 21}

Crear una lista con los valores de la edad y reacomodar la lista de menor a mayor valor.

In [31]:
edad=[i for i in dic.values()]
edad.sort()
edad

[9, 15, 20, 21, 23, 45]

Usando el diccionario y un loop, imprimir solo los nombres.

In [32]:
for i in dic:
    print(i)

Luis
Johan
Cynthia
Anahi
Angie
Lety

Añadir dos personas nuevas a tu diccionario, incluyendo edad.

In [33]:
dic["Eunice"]=15
dic["Dulce"]=35
dic

{'Luis': 20,
 'Johan': 9,
 'Cynthia': 15,
 'Anahi': 23,
 'Angie': 45,
 'Lety': 21,
 'Eunice': 15,
 'Dulce': 35}

Sets

Crea un set con 100 numeros aleatorios enteros del 1 al 25.

In [34]:
s={r.randint(1,25) for i in range(100)}
s

{1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25}

Comprueba la longitud de tu set.

In [35]:
len(s)

25

Crea una lista de 5 numeros aleatorios del 1 al 10 y comprueba si cada valor aparece en el set inicial.

In [36]:
l=[r.randint(1,10) for i in range(5)]
l

[3, 2, 10, 3, 5]

In [37]:
for i in range(len(l)):
    print("¿",l[i]," está en el set? ",l[i] in s)

¿ 3  está en el set?  True
¿ 2  está en el set?  True
¿ 10  está en el set?  True
¿ 3  está en el set?  True
¿ 5  está en el set?  True